html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {box-sizing:border-box;}
body {background:#444; font-family:Arial; font-size:16px; color:white; line-height:125%;}
table {width:100%;}
th, td {border:1px solid #333; text-align:left; vertical-align:top;}
th {background:#333;}
th {padding:20px 5px;}
td {padding:20px 10px;}

a, .name {color:#79f;}
a {text-decoration:underline;}
a:hover {text-decoration:none;}

.float {position:fixed; left:1px;}
.float th {padding-top:5px; padding-bottom:5px;}

.m1 {color:#d8ccff;}
.m3 {color:#cfc;}

.left-headers {display:none; flex-direction:column; justify-content:stretch; flex-shrink:0; width:120px; font-size:90%; font-weight:bold;}
.left-headers__item {}
.left-headers__item:not(:last-child) {padding-bottom:10px;}
.text {flex-grow:1;}

@media (min-width:767px) {
	tr:hover {background:#333;}
	tr:hover td {border-left-color:#555; border-right-color:#555;}
}

@media (max-width:1280px) {
	body {font-size:14px;}
}

@media (max-width:1000px) {
	body {font-size:12px;}
}

@media (max-width:768px) {
	body {font-size:14px;}
	.float {display:none;}
	.main, tr, th {display:block;}
	tr:first-child {display:none;}
	th {padding:20px 10px; font-size:110%; font-weight:bold;}
	td {display:flex;}
	.left-headers {display:flex;}
}

@media (max-width:420px) {
	body {font-size:12px;}
	.left-headers {width:100px;}
}
